section {
    background-color: aliceblue;

    min-width: 200px;

    h1 {
        margin: 10px;
        color: aliceblue;
        filter: invert(1)
    }
    
    /* this is stupid */
    * {
        font-family: inherit;
    }
}