[package]
name = "map2prop-rs"
author = "Lê Hàn Minh Khang (Khang Le) <mkhangle20@gmail.com>"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
glam = "0.27.0"
map = { path = "map" }

[workspace]
members = [".", "map" ]