button {
    border: 2px solid black;

    box-shadow: 2px 2px black;

    cursor: pointer;

    background-color: seagreen;
}

button:hover {
    background-color: limegreen;
    opacity: 80%;
}

button[disabled] {
    cursor: not-allowed;
    background-color: gray;
    color: lightgray;
}