button {
    background-color: inherit;
    border: 2px solid darkgray;
    border-radius: 8px;

    cursor: pointer;
}

button:hover {
    background-color: gray;
    opacity: 80%;
}

button[disabled] {
    cursor: not-allowed;
    background-color: inherit;
}