.resMake {
    display: flex;
    flex-direction: column;

    * {
        width: 100%;
    }

    button {
        margin-bottom: 10px;
        padding: 10px;
    }

    border: 2px solid black;
    padding: 24px;

    box-shadow: 8px 8px black;

    textarea {
        resize: none;
        text-align: center;
    }

    input[type="submit"] {
        display: none;
    }
}